.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: black;
  color: #fff;
  background-color: #008ae6;
  border: solid;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #001a4d}

.button:active {
  background-color: #003399;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}