#all {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#all td, #all th {
  border: 1px solid #ddd;
  padding: 8px;
}

#all tr:nth-child(even){background-color:  #ffffff;}

#all th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #142952;
  color: white;
}
