/* This section for div */

div.container {
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  min-height: 100vh; /* Set a minimum height to make sure the sidebar fills the entire viewport height */
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu-item {
  margin: 10px 0;
}

.content {
  padding: 20px;
}

/* This CSS for button only */
.buttonside {
  display: block;
  width: 100%; /* Make the button fill the width of the sidebar */
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008ae6;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

.buttonside:hover {
  background-color: #001a4d;
}

.buttonside:active {
  background-color: #003399;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* This CSS for button only */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: black;
  color: #fff;
  background-color: #008ae6;
  border: solid;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #001a4d}

.button:active {
  background-color: #003399;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: black;
  color: #fff;
  background-color: #008ae6;
  border: none;
  border-radius: 9px;
}

.button2:hover {background-color: #008ae6}

.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

/* This section for div */

div-style {
  background-color: lightblue;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

div2-style {
  background-color: lightblue;
  width: 800px;
  border: 10px solid blue;
  padding: 30px;
  margin: 80px;
}

div3-style {
  background-color: lightblue;
  width: 900px;
  border: 10px solid blue;
  padding: 20px;
  margin: 50px;
}

/* this code for download button */

.btndw {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btndw:hover {
  background-color: RoyalBlue;
}

/* this codes for nav */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #006080;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover:not(.active) {
  background-color: #003399;
}

.active {
  background-color: #4CAF50;
}